In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Carregar arquivo para um dataframe

df_exames = pd.read_csv('./datasets/1698696961761-attachment.csv')

In [5]:
df_exames.head(5)

   id_paciente genero  idade  peso  altura  resultado
0            1      M     46    83     165         98
1            2      F     23    83     164         82
2            3      M     39    71     154         93
3            4      F     26   103     165         95
4            5      M     27    55     176        100

In [6]:
df_exames.tail(5)

    id_paciente genero  idade  peso  altura  resultado
95           96      F     52    96     183         89
96           97      F     68   108     169        105
97           98      M     21    95     154        125
98           99      M     41   109     173        128
99          100      F     28    86     191         95

In [7]:
df_exames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_paciente  100 non-null    int64
 1   genero       100 non-null    object
 2   idade        100 non-null    int64
 3   peso         100 non-null    int64
 4   altura       100 non-null    int64
 5   resultado    100 non-null    int64
dtypes: int64(5), object(1)
memory usage: 4.8+ KB

In [9]:
# remover coluna id_paciente

df_exames.drop(columns=['id_paciente'], axis=1, inplace=True)

In [10]:
df_exames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genero     100 non-null    object
 1   idade      100 non-null    int64
 2   peso       100 non-null    int64
 3   altura     100 non-null    int64
 4   resultado  100 non-null    int64
dtypes: int64(4), object(1)
memory usage: 4.0+ KB