In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib as plt

In [2]:
# carregar o arquivo
df_coleterol = pd.read_csv('./datasets/1701111759794-attachment.csv')

In [3]:
df_coleterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [4]:
#Remover coluna "Id"
df_coleterol.drop( columns=['Id'], axis=1, inplace=True)

In [7]:
df_coleterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   grupo_sanguineo         996 non-null    object
 1   fumante                 997 non-null    object
 2   nivel_atividade_fisica  996 non-null    object
 3   idade                   997 non-null    float64
 4   peso                    997 non-null    float64
 5   altura                  997 non-null    float64
 6   nivel_colesterol        1000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 54.8+ KB

In [6]:
#Renomear as colunas
df_coleterol.columns = [
  'grupo_sanguineo',
  'fumante',
  'nivel_atividade_fisica',
  'idade',
  'peso',
  'altura',
  'nivel_colesterol'
]

In [8]:
# Copiar DF para Df EDA

df_coleterol_eda = df_coleterol.copy()

In [9]:
# copiar DF ´para DF Bucketing
df_coleterol_bucketing = df_coleterol.copy()

### EDA

In [10]:
# Visualizar os dados
df_coleterol_eda.head(5)

,grupo_sanguineo,fumante,nivel_atividade_fisica,idade,peso,altura,nivel_colesterol
0,B,Sim,Baixo,33.0,85.1,186.0,199.63
1,A,Não,Moderado,68.0,105.0,184.0,236.98
2,O,Não,Alto,25.0,64.8,180.0,161.79
3,A,Não,Alto,43.0,120.2,167.0,336.24
4,AB,Não,Baixo,79.0,88.5,175.0,226.23

In [12]:
df_coleterol_eda.grupo_sanguineo.unique()

array(['B', 'A', 'O', 'AB', nan], dtype=object)